body,div,h3,h4,h5,input,textarea,select,p,dl,dt,dd,a,i,strong,img,button,form,table,th,tr,td,tbody {
  margin: 0;
  padding: 0;
}

input {
  resize: none;
  border: none;
}

img {
  border: none;
}

a {
  text-decoration: none;
  color: #fe9527;
}

body {
  color: #333333;
  min-height: 100vh;
  background: #ffffff;
  font-size: 0.64rem;
  font-family: 'Microsoft Yahei';
}

.van-button--primary {
  background: linear-gradient(90deg, #fea829, #fe8f27);
  border-radius: 1.17rem;
  border: none;
  font-size: 0.96rem;
}